<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comandante.uncolor.vkmusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.comandante.uncolor.vkmusic.application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainActivityTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7685514492081797~6471620101"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="518352482e62638b9f32e71b3690575212670da3"
            />

        <activity
            android:name="com.comandante.uncolor.vkmusic.main_activity.MainActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.comandante.uncolor.vkmusic.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.comandante.uncolor.vkmusic.services.music.NewMusicService"
            android:exported="false">
        </service>

        <service
            android:name="com.comandante.uncolor.vkmusic.services.download.DownloadService"
            android:exported="false">

        </service>

        <service
            android:name="com.comandante.uncolor.vkmusic.services.download.NewDownloadService"
            android:exported="false">

        </service>


        <activity
            android:name="com.comandante.uncolor.vkmusic.auth_activity.AuthActivity_"
            android:theme="@style/AuthActivityTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>